---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2891ded9288d3c9221fa0f2fb490793a&exclude=minutely,alerts&lat=38.8576&lon=104.9128&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8576,"lon":104.9128,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1659980564,"sunrise":1659996488,"sunset":1660046627,"temp":66.49,"feels_like":66.6,"pressure":1007,"humidity":80,"dew_point":60.13,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.32,"wind_deg":43,"wind_gust":16.55,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1659978000,"temp":66.47,"feels_like":66.58,"pressure":1007,"humidity":80,"dew_point":60.12,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":16.84,"wind_deg":40,"wind_gust":18.59,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.23},{"dt":1659981600,"temp":66.49,"feels_like":66.6,"pressure":1007,"humidity":80,"dew_point":60.13,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.32,"wind_deg":43,"wind_gust":16.55,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.19},{"dt":1659985200,"temp":66.54,"feels_like":66.65,"pressure":1007,"humidity":80,"dew_point":60.19,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.19,"wind_deg":43,"wind_gust":16.02,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.05},{"dt":1659988800,"temp":66.49,"feels_like":66.65,"pressure":1007,"humidity":81,"dew_point":60.48,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.43,"wind_deg":42,"wind_gust":16.17,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.21,"rain":{"1h":1.15}},{"dt":1659992400,"temp":66.16,"feels_like":66.33,"pressure":1006,"humidity":82,"dew_point":60.51,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.46,"wind_deg":38,"wind_gust":15.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.01},{"dt":1659996000,"temp":65.88,"feels_like":66.16,"pressure":1006,"humidity":85,"dew_point":61.25,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":14.74,"wind_deg":37,"wind_gust":15.64,"weathe[...]
