---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GSjwm6gzesa5CaajhLk6xEHOjidsE0F2&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 17:42:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GSjwm6gzesa5CaajhLk6xEHOjidsE0F2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1349997971"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GSjwm6gzesa5CaajhLk6xEHOjidsE0F2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-360446672"}]}]}'
  recorded_at: Mon, 08 Aug 2022 17:42:42 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2891ded9288d3c9221fa0f2fb490793a&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659980562,"sunrise":1659960332,"sunset":1660010740,"temp":78.71,"feels_like":78.71,"pressure":1019,"humidity":51,"dew_point":59.07,"uvi":9.38,"clouds":10,"visibility":10000,"wind_speed":1.99,"wind_deg":205,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1659978000,"temp":78.57,"feels_like":78.48,"pressure":1019,"humidity":50,"dew_point":58.39,"uvi":7.53,"clouds":10,"visibility":10000,"wind_speed":2.3,"wind_deg":57,"wind_gust":2.15,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659981600,"temp":78.71,"feels_like":78.71,"pressure":1019,"humidity":51,"dew_point":59.07,"uvi":9.38,"clouds":10,"visibility":10000,"wind_speed":4,"wind_deg":86,"wind_gust":4.18,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659985200,"temp":79.84,"feels_like":79.84,"pressure":1018,"humidity":47,"dew_point":57.83,"uvi":10.17,"clouds":8,"visibility":10000,"wind_speed":1.9,"wind_deg":82,"wind_gust":3.29,"weather":[{"id":800,"main":"Cl[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 71150Fn2UMu_TOsFsctVIYSC6O-pQR6WcWsSrMJH6T8_rWZ5HyZBrcRzajFnmLK22bvbHz1HeI0NVs45F1n29KLDTcpUzCwcKFXwTDUmCYm790Es_Ja-UaQ-mCXxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4986'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-t2bjs; site=public_api_v3
      X-Zipkin-Id:
      - 76abaa9e62887ab8
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-130-205-uswest2bprod
      X-Extlb:
      - 10-69-130-205-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "6kRbrLNIZKZ1fcjgsTFobg", "alias": "fortune-wok-to-table-denver",
        "name": "Fortune Wok to Table", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/aVmP8cWwrCsLWWjwx8wvjg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fortune-wok-to-table-denver?adjust_creative=ZEwBYpBCHPQS1kdEPfyxzA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZEwBYpBCHPQS1kdEPfyxzA",
        "review_count": 370, "categories": [{"alias": "noodles", "title": "Noodles"},
        {"alias": "dimsum", "title": "Dim Sum"}, {"alias": "shanghainese", "title":
        "Shanghainese"}], "rating": 4.5, "coordinates": {"latitude": 39.72124, "longitude":
        -104.9543}, "transactions": ["delivery"], "price": "$$", "location": {"address1":
        "2817 E 3rd Ave", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80206", "country": "US", "state": "CO", "display_address": ["2817 E 3rd Ave",
        "Denver, CO 80206"]}, "phone": "+13033217788", "display_phone": "(303) 321-7788",
        "distance": 2093.330545587293}, {"id": "fXA9hf0IfVRtvSEc9mxnPw", "alias":
        "star-kitchen-denver", "name": "Star Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4dkpPrRVdJXCUFl4GdCbZQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/star-kitchen-denver?adjust_creative=ZEwBYpBCHPQS1kdEPfyxzA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZEwBYpBCHPQS1kdEPfyxzA",
        "review_count": 1096, "categories": [{"alias": "dimsum", "title": "Dim Sum[...]
