---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2891ded9288d3c9221fa0f2fb490793a&exclude=minutely,alerts&lat=38.8576&lon=104.9128&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8576,"lon":104.9128,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1659973586,"sunrise":1659910033,"sunset":1659960296,"temp":67.23,"feels_like":67.46,"pressure":1007,"humidity":81,"dew_point":61.2,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":23.35,"wind_deg":40,"wind_gust":29.57,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1659970800,"temp":67.48,"feels_like":67.73,"pressure":1007,"humidity":81,"dew_point":61.45,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":25.66,"wind_deg":35,"wind_gust":29.97,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1659974400,"temp":67.23,"feels_like":67.46,"pressure":1007,"humidity":81,"dew_point":61.2,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":23.35,"wind_deg":40,"wind_gust":29.57,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.05},{"dt":1659978000,"temp":67.21,"feels_like":67.44,"pressure":1007,"humidity":81,"dew_point":61.18,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":20.76,"wind_deg":40,"wind_gust":25.5,"weather":[{"id":80[...]
