---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2891ded9288d3c9221fa0f2fb490793a&exclude=minutely,alerts&lat=38.8576&lon=104.9128&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8576,"lon":104.9128,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1660011771,"sunrise":1659996488,"sunset":1660046627,"temp":70,"feels_like":70.12,"pressure":1006,"humidity":73,"dew_point":60.94,"uvi":1.25,"clouds":99,"visibility":10000,"wind_speed":15.19,"wind_deg":50,"wind_gust":15.17,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1660010400,"temp":70,"feels_like":70.12,"pressure":1006,"humidity":73,"dew_point":60.94,"uvi":1.25,"clouds":99,"visibility":10000,"wind_speed":15.19,"wind_deg":50,"wind_gust":15.17,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.05},{"dt":1660014000,"temp":70.3,"feels_like":70.41,"pressure":1006,"humidity":72,"dew_point":60.85,"uvi":1.88,"clouds":99,"visibility":10000,"wind_speed":13.2,"wind_deg":57,"wind_gust":12.93,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.05},{"dt":1660017600,"temp":71.26,"feels_like":71.33,"pressure":1006,"humidity":69,"dew_point":60.57,"uvi":4.63,"clouds":99,"visibility":10000,"wind_speed":10.87,"wind_deg":56,"wind_gust":10.58,"weather":[{[...]
[...]
