---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2891ded9288d3c9221fa0f2fb490793a&exclude=minutely,alerts&lat=38.8576&lon=104.9128&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8576,"lon":104.9128,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1659827022,"sunrise":1659823578,"sunset":1659873964,"temp":79.38,"feels_like":79.38,"pressure":1003,"humidity":45,"dew_point":56.21,"uvi":0.17,"clouds":100,"visibility":10000,"wind_speed":9.37,"wind_deg":24,"wind_gust":14.72,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1659826800,"temp":79.38,"feels_like":79.38,"pressure":1003,"humidity":45,"dew_point":56.21,"uvi":0.17,"clouds":100,"visibility":10000,"wind_speed":9.37,"wind_deg":24,"wind_gust":14.72,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1659830400,"temp":79.54,"feels_like":79.54,"pressure":1003,"humidity":44,"dew_point":55.74,"uvi":0.71,"clouds":100,"visibility":10000,"wind_speed":9.71,"wind_deg":28,"wind_gust":12.73,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1659834000,"temp":79.86,"feels_like":79.86,"pressure":1003,"humidity":43,"dew_point":55.4,"uvi":1.98,"clouds":95,"visibility":10000,"wind_speed":10.04,"wind_deg":25,"wind_gust":11.88,"weather":[{"id":[...]
