---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2891ded9288d3c9221fa0f2fb490793a&lat=38.8576&lon=104.9128&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8576,"lon":104.9128,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1659801665,"sunrise":1659823578,"sunset":1659873964,"temp":83.28,"feels_like":82.33,"pressure":1000,"humidity":38,"dew_point":55.04,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":15.5,"wind_deg":43,"wind_gust":22.66,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"minutely":[{"dt":1659801720,"precipitation":0},{"dt":1659801780,"precipitation":0},{"dt":1659801840,"precipitation":0},{"dt":1659801900,"precipitation":0},{"dt":1659801960,"precipitation":0},{"dt":1659802020,"precipitation":0},{"dt":1659802080,"precipitation":0},{"dt":1659802140,"precipitation":0},{"dt":1659802200,"precipitation":0},{"dt":1659802260,"precipitation":0},{"dt":1659802320,"precipitation":0},{"dt":1659802380,"precipitation":0},{"dt":1659802440,"precipitation":0},{"dt":1659802500,"precipitation":0},{"dt":1659802560,"precipitati[...]
