---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2891ded9288d3c9221fa0f2fb490793a&exclude=minutely,alerts&lat=38.8576&lon=104.9128&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8576,"lon":104.9128,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1660063706,"sunrise":1660082943,"sunset":1660132957,"temp":71.94,"feels_like":72.21,"pressure":1004,"humidity":72,"dew_point":62.44,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":8.55,"wind_deg":25,"wind_gust":10.36,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1660060800,"temp":72.1,"feels_like":72.36,"pressure":1004,"humidity":71,"dew_point":62.19,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":9.98,"wind_deg":27,"wind_gust":12.82,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.9,"rain":{"1h":0.83}},{"dt":1660064400,"temp":71.94,"feels_like":72.21,"pressure":1004,"humidity":72,"dew_point":62.44,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":8.55,"wind_deg":25,"wind_gust":10.36,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.76},{"dt":1660068000,"temp":71.87,"feels_like":72.19,"pressure":1004,"humidity":73,"dew_point":62.74,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":9.17,"wind_deg":25,"wind_gust":10.78,"weather"[...]
