---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?api_key=GSjwm6gzesa5CaajhLk6xEHOjidsE0F2&key=GSjwm6gzesa5CaajhLk6xEHOjidsE0F2&location=Manitou%20Springs,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 06 Aug 2022 23:03:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Manitou
        Springs, CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Manitou
        Springs","adminArea5Type":"City","adminArea4":"El Paso County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039144","unknownInput":"","type":"s","latLng":{"lat":38.857568,"lng":-104.912311},"displayLatLng":{"lat":38.857568,"lng":-104.912311},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GSjwm6gzesa5CaajhLk6xEHOjidsE0F2&type=map&size=225,160&locations=38.857568,-104.912311|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1365914891"}]}]}'
  recorded_at: Sat, 06 Aug 2022 23:03:42 GMT
recorded_with: VCR 6.1.0
