---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GSjwm6gzesa5CaajhLk6xEHOjidsE0F2&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 17:31:09 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GSjwm6gzesa5CaajhLk6xEHOjidsE0F2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2111918973"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GSjwm6gzesa5CaajhLk6xEHOjidsE0F2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1654866865"}]}]}'
  recorded_at: Mon, 08 Aug 2022 17:31:09 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2891ded9288d3c9221fa0f2fb490793a&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659979870,"sunrise":1659960332,"sunset":1660010740,"temp":78.08,"feels_like":78.08,"pressure":1019,"humidity":53,"dew_point":59.58,"uvi":9.47,"clouds":2,"visibility":10000,"wind_speed":3,"wind_deg":170,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1659978000,"temp":78.04,"feels_like":77.95,"pressure":1019,"humidity":51,"dew_point":58.46,"uvi":7.6,"clouds":2,"visibility":10000,"wind_speed":2.28,"wind_deg":42,"wind_gust":1.48,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659981600,"temp":78.08,"feels_like":78.08,"pressure":1019,"humidity":53,"dew_point":59.58,"uvi":9.47,"clouds":2,"visibility":10000,"wind_speed":3.85,"wind_deg":79,"wind_gust":3.6,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659985200,"temp":79.29,"feels_like":79.29,"pressure":1018,"humidity":49,"dew_point":58.5,"uvi":10.24,"clouds":2,"visibility":10000,"wind_speed":2.84,"wind_deg":82,"wind_gust":3.85,"weather":[{"id":800,"main":"C[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 71150Fn2UMu_TOsFsctVIYSC6O-pQR6WcWsSrMJH6T8_rWZ5HyZBrcRzajFnmLK22bvbHz1HeI0NVs45F1n29KLDTcpUzCwcKFXwTDUmCYm790Es_Ja-UaQ-mCXxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-zj89p; site=public_api_v3
      X-Zipkin-Id:
      - 77263677b994c7a8
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4990'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-69-73-uswest2aprod
      X-Extlb:
      - 10-69-69-73-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "gagUrh3806qc5hZ14F0Odw", "alias": "denver-biscuit-denver-13",
        "name": "Denver Biscuit", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/bxPN9shgJEtwvT3Hrf_pCg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/denver-biscuit-denver-13?adjust_creative=ZEwBYpBCHPQS1kdEPfyxzA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZEwBYpBCHPQS1kdEPfyxzA",
        "review_count": 4244, "categories": [{"alias": "sandwiches", "title": "Sandwiches"},
        {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}], "rating": 4.5,
        "coordinates": {"latitude": 39.740384, "longitude": -104.949098}, "transactions":
        ["delivery", "pickup"], "price": "$$", "location": {"address1": "3237 E Colfax
        Ave", "address2": "", "address3": null, "city": "Denver", "zip_code": "80206",
        "country": "US", "state": "CO", "display_address": ["3237 E Colfax Ave", "Denver,
        CO 80206"]}, "phone": "+13033777900", "display_phone": "(303) 377-7900", "distance":
        1887.2489668123706}, {"id": "dnJvyhSPiIVlmpdM_3SCrg", "alias": "snooze-an-a-m-eatery-denver-12",
        "name": "Snooze, an A.M. Eatery", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/cniSi66T4iS6nqCdML6HUQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/snooze-an-a-m-eatery-denver-12?adjust_creative=ZEwBYpBCHPQS1kdEPfyxzA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ZEwBYpBCHPQS1kdEPfyxzA",
        "review_count": 4640, "categories[...]
